<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20"/>
  <add key="MaxPage" value="1000"/>

  <add key="SMTPHost" value=""/>
  <add key="SMTPPort" value=""/>
  <add key="FromEmailAddress" value=""/>
  <add key="FromEmailPassword" value=""/>
  <add key="FromName" value=""/>
  <add key="AdminEmail" value=""/>
  
  <add key="CurrentLink" value="http://localhost:50445/"/>
  <add key="EnableBundles" value="false"/>

  
</appSettings>

