<connectionStrings>
	<clear />
	<add name="SqlServerConnection" providerName="System.Data.SqlClient" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=SmSDb;Integrated Security=False;User Id=sa;Password=1234$;MultipleActiveResultSets=True" />
	<!--<add name="SqlServerConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-QRPI657;Initial Catalog=SmSDb;Integrated Security=False;User Id=sa;Password=noname9xnd;MultipleActiveResultSets=True" />-->
	<!--<add name="SqlServerConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-NKFQK11;Initial Catalog=SmSDb;Integrated Security=False;User Id=sa;Password=noname9xnd;MultipleActiveResultSets=True" />-->
</connectionStrings>