@using Microsoft.AspNet.Identity
@model Models.Shared.PaginationSet<Models.ViewModel.ContactViewModel>
@{
    var currentUserId = System.Web.HttpContext.Current.User.Identity.GetUserId();
    var keyword = (string)ViewBag.Keyword;
}
<!-- begin::page-header -->
<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>All Contact</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">All Contact</li>
            </ol>
        </nav>
    </div>
</div>
<!-- end::page-header -->

<div class="container-fluid">

    <div class="row app-block">
        <div class="col-md-3 app-sidebar">
            <div class="card">
                <div class="card-body">
                </div>
                <div class="app-sidebar-menu">
                    <div class="list-group list-group-flush">
                        <a href="" class="list-group-item active d-flex align-items-center">
                            <i data-feather="folder" class="width-15 height-15 mr-2"></i>
                            All Friends
                        </a>
                        <a onclick="window.location.href='/Contact/RequestFriend'" class="list-group-item d-flex align-items-center">
                            <i data-feather="folder" class="width-15 height-15 mr-2"></i>
                            Request Friends
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 app-content">
            <div class="app-content-overlay"></div>
            <div class="app-action">
                <div class="action-right">
                    <form class="d-flex mr-3" method="get" action="/Contact/Index" id="contact-search-friend">
                        <a href="#" class="app-sidebar-menu-button btn btn-outline-light">
                            <i data-feather="menu"></i>
                        </a>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search contact"
                                   aria-describedby="button-addon1" name="keyword">
                            <div class="input-group-append">
                                <a class="btn btn-outline-light" type="button" id="button-addon1" href="javascript:document.getElementById('contact-search-friend').submit()">
                                    <i data-feather="search"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card app-content-body">

                <div class="card-body">

                    <div class="row">
                        @if (Model.Items.Any())
                        {
                            foreach (var user in Model.Items)
                            {
                                var profileId = string.Empty;
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                            <div class="card app-file-list">
                                <div class="app-file-icon">
                                    <i class="fa fa-file-pdf-o text-danger"></i>
                                    <div class="dropdown position-absolute top-0 right-0 mr-3">
                                    </div>
                                </div>
                                <div class="p-2 small">
                                    <div>
                                        <h6>
                                            @if (currentUserId.Equals(user.ContactSentId))
                                                    {
                                                        profileId = user.ContactReceivedId;
                                            <a onclick="window.location.href='/Chat/Index?profileId=@profileId'">@user.FullNameContactReceived</a>
                                                    }
                                                    else
                                                    {
                                                        profileId = user.ContactSentId;
                                            <a onclick="window.location.href='/Chat/Index?profileId=@profileId'">@user.FullNameContactSent</a>
                                                    }
                                        </h6>
                                    </div>
                                    <div>
                                        <a onclick="window.location.href='/Chat/Index?profileId=@profileId'" class="btn btn-primary">Chat</a>
                                        <a onclick="window.location.href = '/Profile/Index?profileId=@profileId'" class="btn btn-primary">View Profile</a>
                                        <form method="post" action="/Contact/RemoveFriend" id="contact-remove-friend">
                                            <input type="text" hidden name="profileId" value="@profileId">
                                            <a href="javascript:document.getElementById('contact-remove-friend').submit()" type="submit" class="btn btn-primary">Remove Contact</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                            }
                            {
                                Html.RenderPartial("_Paging", Model);
                            }

                        }
                        else
                        {
                        <h4>Not Found Contact</h4>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- begin::footer -->