@using Microsoft.AspNet.Identity
@model Models.Shared.PaginationSet<Models.ViewModel.ContactViewModel>
@{
    var currentUserId = System.Web.HttpContext.Current.User.Identity.GetUserId();
}
<!-- begin::page-header -->
<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>All Contact</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Request Friend</li>
            </ol>
        </nav>
    </div>
</div>
<!-- end::page-header -->

<div class="container-fluid">

    <div class="row app-block">
        <div class="col-md-3 app-sidebar">
            <div class="card">
                <div class="card-body">
                </div>
                <div class="app-sidebar-menu">
                    <div class="list-group list-group-flush">
                        <a onclick="window.location.href='/Contact/Index'" class="list-group-item d-flex align-items-center" style="cursor:pointer">
                            <i data-feather="folder" class="width-15 height-15 mr-2"></i>
                            All Friends
                        </a>
                        <a onclick="window.location.href='/Contact/RequestFriend'" class="list-group-item active d-flex align-items-center" style="cursor:pointer">
                            <i data-feather="folder" class="width-15 height-15 mr-2"></i>
                            Request Friends
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 app-content">
            <div class="app-content-overlay"></div>
            <div class="app-action">
                <div class="action-left">
                    <ul class="list-inline">
                        <li class="list-inline-item mb-0">
                            <a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
                                Order by
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Date</a>
                                <a class="dropdown-item" href="#">Name</a>
                                <a class="dropdown-item" href="#">Size</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="action-right">
                    <form class="d-flex mr-3">
                        <a href="#" class="app-sidebar-menu-button btn btn-outline-light">
                            <i data-feather="menu"></i>
                        </a>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search file"
                                   aria-describedby="button-addon1">
                            <div class="input-group-append">
                                <button class="btn btn-outline-light" type="button" id="button-addon1">
                                    <i data-feather="search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card app-content-body">

                <div class="card-body">

                    <div class="row">
                        @if (Model.Items.Any())
                        {
                            foreach (var user in Model.Items)
                            {
                                var profileId = string.Empty;
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="card app-file-list">
                                        <div class="app-file-icon p-0">
                                            <img src="/Content/uploads/avatar.png" class="img-fluid" alt="avatar">
                                            <div class="dropdown position-absolute top-0 right-0 mr-3">
                                            </div>
                                        </div>
                                        <div class="p-10 small">
                                            <h4 class="text-center m-b-15" style="cursor:pointer">
                                                @if (currentUserId.Equals(user.ContactSentId))
                                                {
                                                    profileId = user.ContactReceivedId;
                                                    <a onclick="window.location.href='/Profile/Index?profileId=@profileId'">
                                                        @user.FullNameContactReceived
                                                    </a>
                                                }
                                                else
                                                {
                                                    profileId = user.ContactSentId;
                                                    <a onclick="window.location.href='/Profile/Index?profileId=@profileId'">
                                                        @user.FullNameContactSent
                                                    </a>
                                                }
                                            </h4>
                                            <div class="d-flex justify-content-around">
                                                <form method="post" action="/Contact/AcceptRequest" id="contact-accept">
                                                    <input type="text" hidden name="profileId" value="@profileId">
                                                    <a href="javascript:document.getElementById('contact-accept').submit()" type="submit" class="btn btn-success">Accept</a>
                                                </form>
                                                <form method="post" action="/Contact/CancelRequest" id="contact-cancel">
                                                    <input type="text" hidden name="profileId" value="@profileId">
                                                    <a href="javascript:document.getElementById('contact-cancel').submit()" type="submit" class="btn btn-danger">Cancel</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            {
                                Html.RenderPartial("_Paging", Model);
                            }

                        }
                        else
                        {
                            <h4>Not Found Request Contact</h4>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- begin::footer -->