@using Microsoft.AspNet.Identity
@using SMSOnline.Helpers
@model Models.Shared.PaginationSet<Models.ViewModel.ContactViewModel>
@{
    var currentUser = IdentityHelper.GetAllInfoCurrentLogged();
}
<!-- begin::page-header -->
<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>All Contact</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Request Friend</li>
            </ol>
        </nav>
    </div>
</div>
<!-- end::page-header -->

<div class="container-fluid">

    <div class="row app-block">
        <div class="col-md-3 app-sidebar">
            <div class="card">
                <div class="card-body">
                </div>
                <div class="app-sidebar-menu">
                    <div class="list-group list-group-flush">
                        <a onclick="window.location.href='/Contact/Index'" class="list-group-item d-flex align-items-center cursor-pointer">
                            <i data-feather="folder" class="width-15 height-15 mr-2"></i>
                            All Friends
                        </a>
                        <a onclick="window.location.href='/Contact/RequestFriend'" class="list-group-item active d-flex align-items-center cursor-pointer">
                            <i data-feather="folder" class="width-15 height-15 mr-2"></i>
                            Request Friends
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 app-content">
            <div class="app-content-overlay"></div>
            <div class="app-action">
                <div class="action-right">
                    <form class="d-flex mr-3" method="get" action="/Contact/RequestFriend" id="contact-search-request-friend">
                        <a href="#" class="app-sidebar-menu-button btn btn-outline-light">
                            <i data-feather="menu"></i>
                        </a>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search contact"
                                   aria-describedby="button-addon1" name="keyword">
                            <div class="input-group-append">
                                <a class="btn btn-outline-light" type="button" id="button-addon1" href="javascript:document.getElementById('contact-search-request-friend').submit()">
                                    <i data-feather="search"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card app-content-body">

                <div class="card-body p-l-50 p-r-50">

                    <div class="row">
                        @if (Model.Items.Any())
                        {
                            foreach (var item in Model.Items)
                            {
                                var name = string.Empty;
                                var image = string.Empty;
                                bool isLogged = false;
                                var profileId = string.Empty;
                                if (currentUser.Id == item.ContactSentId)
                                {
                                    var user = IdentityHelper.GetUserById(item.ContactReceivedId);
                                    name = user.FullName;
                                    image = string.IsNullOrWhiteSpace(user.Avatar) ? Common.Constants.AvatarDefault : user.Avatar;
                                    isLogged = IdentityHelper.IsUserLogged(user.UserName);
                                    profileId = item.ContactReceivedId;

                                }
                                else
                                {
                                    var user = IdentityHelper.GetUserById(item.ContactSentId);
                                    name = user.FullName;
                                    image = string.IsNullOrWhiteSpace(user.Avatar) ? Common.Constants.AvatarDefault : user.Avatar;
                                    isLogged = IdentityHelper.IsUserLogged(user.UserName);
                                    profileId = item.ContactSentId;
                                }
                                <div class="col-lg-3 col-md-4 col-6">
                                    <div class="card app-file-list">
                                        <div class="app-file-icon p-0 square-block bg-white circle-hover-effect">
                                            <a onclick="window.location.href='/Profile/Index?profileId=@profileId'" class="cursor-pointer">
                                                <img src="@image" class="img-fluid square-block__image" alt="avatar">
                                            </a>
                                        </div>
                                        <div class="p-10 p-t-15 p-b-15 small">
                                            <h4 class="text-center m-b-15">
                                                <a onclick="window.location.href='/Profile/Index?profileId=@profileId'" class="cursor-pointer">@name</a>
                                            </h4>
                                            <div class="d-flex justify-content-around">
                                                <a onclick="acceptRequest('@profileId')" class="btn btn-sm btn-success text-white cursor-pointer">Accept</a>
                                                <a onclick="removeContact('@profileId')" class="btn btn-sm btn-danger text-white cursor-pointer">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            {
                                Html.RenderPartial("_Paging", Model);
                            }

                        }
                        else
                        {
                            <h4>Not Found Request Contact</h4>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function acceptRequest(userId) {
            postRequest('/Contact/AcceptRequest', userId);
        }
        function removeContact(userId) {
            console.log(userId)
            var r = confirm("Do you want to cancel this friend request?");
            if (r == true) {
                postRequest('/Contact/CancelRequest', userId);
            }

        }
        function postRequest(url, userId) {
            console.log(userId)
            $.ajax({
                url: url,
                type: 'POST',
                data: { profileId: userId }
            }).done(function (ketqua) {
                location.reload();
            });
        }
    </script>
}