@using Microsoft.AspNet.Identity
@using SMSOnline.Helpers
@{
    var currentUser = IdentityHelper.GetAllInfoCurrentLogged();
}
<div class="navigation-menu-tab">
    <div>
        <div class="navigation-menu-tab-header" data-toggle="tooltip" title="Roxana Roussell" data-placement="right">
            <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                <figure class="avatar avatar-md">
                    <img src="https://via.placeholder.com/128X128" class="rounded-circle" alt="avatar">
                </figure>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                @*<div class="p-3 text-center" data-backround-image="https://via.placeholder.com/1000X563">*@
                <div class="p-3 text-center" style="background:url('/Content/app/assets/media/image/cover-user.jpg') no-repeat">
                    <figure class="avatar mb-3">
                        <img src="@(string.IsNullOrWhiteSpace(currentUser.Avatar) ? Common.Constants.AvatarDefault : currentUser.Avatar)"
                             class="rounded-circle" alt="image" width="128" height="128">
                    </figure>
                    <h6 class="d-flex align-items-center justify-content-center">
                        @currentUser.FullName
                        <a href="/Manage" class="btn btn-primary btn-sm ml-2" data-toggle="tooltip" title="Edit profile">
                            <i data-feather="edit-2"></i>
                        </a>
                    </h6>
                    <small>Balance: <strong>$@currentUser.Balance</strong></small>
                </div>

                <div class="dropdown-menu-body">
                    <div class="list-group list-group-flush">
                        <a onclick="window.location.href = '/Profile/Index?profileId=@currentUser.Id'" class="list-group-item">Profile</a>
                        <a onclick="window.location.href = '/Manage/ChangePassword'" class="list-group-item d-flex"> Change Password  </a>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="list-group-item text-danger" data-sidebar-target="#settings">Sign Out!</a>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-grow-1">
        <ul>
            <li>
                <a class="active" href="#" data-toggle="tooltip" data-placement="right" title="Dashboards"
                   data-nav-target="#dashboards">
                    <i data-feather="bar-chart-2"></i>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="tooltip" data-placement="right" title="Logout"> <i data-feather="log-out"></i></a>

                }
            </li>
        </ul>
    </div>
</div>