@using Microsoft.AspNet.Identity

<div class="navigation">
    @if (Request.IsAuthenticated)
    {
    @Html.Partial("_LoginPartial")
    }
    <!-- begin::navigation menu -->
    <div class="navigation-menu-body">

        <!-- begin::navigation-logo -->
        <div>
            <div id="navigation-logo">
                <a href="">
                    <img class="logo" src="~/Content/app/assets/media/image/logo.png" alt="logo">
                    <img class="logo-light" src="~/Content/app/assets/media/image/logo-light.png" alt="light logo">
                </a>
            </div>
        </div>
        <!-- end::navigation-logo -->

        <div class="navigation-menu-group">

            <div class="open" id="dashboards">
                <ul>
                    <li><a onclick="window.location.href='/Contact/FindUser'" style="cursor:pointer">Find User</a></li>
                    <li><a onclick="window.location.href='/Contact/Index'" style="cursor:pointer">Contacts</a></li>
                    <li><a onclick="window.location.href='/Chat/AllMessage'" style="cursor:pointer">Chat</a></li>
                    <li>
                        <a href="javascript:void(0)">Bank</a>
                        <ul style="display: block;">
                            <li><a onclick="window.location.href='/Transaction'" style="cursor:pointer">All Transactions</a></li>
                            <li><a onclick="window.location.href='/CreditCard'" style="cursor:pointer">All CreditCard</a></li>
                            <li><a onclick="window.location.href='/CreditCard/Create'" style="cursor:pointer">Create CreditCard</a></li>
                            <li><a onclick="window.location.href='/Deposit'" style="cursor:pointer">Deposit</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end::navigation menu -->
</div>