@model List<Models.ViewModel.TransactionViewModel>
@{
    ViewData["Title"] = "Transactions";
}

<!-- begin::page-header -->
<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>Transactions</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Transactions</li>
            </ol>
        </nav>
    </div>
</div>
<!-- end::page-header -->

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        @if (Model.Any())
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Transation Type</th>
                                        <th scope="col">Created On</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var transaction in Model)
                                    {
                                        <tr>
                                            <td><span class="badge badge-success">@transaction.Type</span></td>
                                            <th>@transaction.CreatedAt</th>
                                            <td>$@transaction.Price</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-info" role="alert">You haven't made any transactions yet.</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>