@using Data.Helpers
@model List<Models.ViewModel.CreditCardViewModel>

<!-- begin::page-header -->
<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>CreditCard</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">CreditCard</li>
            </ol>
        </nav>
    </div>
</div>
<!-- end::page-header -->

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        @if (Model.Any())
                        {
                            <table class="table">
                                <thead>
                                    <tr>

                                        <th scope="col">Number</th>
                                        <th scope="col">CVV</th>
                                        <th scope="col">Expiration Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var card in Model)
                                    {
                                        <tr>
                                            <th><span class="badge badge-warning">@card.Number.HideNumber()</span></th>
                                            <td>@card.CVV</td>
                                            <td>@card.ExpirationDate</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-info" role="alert">There are no credit cards registered yet. Consider registering one yourself.</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>