@model SMSOnline.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}

<h5>Forgot your password?</h5>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <!-- form -->
    <form>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new
            {
                @class = "form-control",
                @placeholder = "Username or email or PhoneNumber",
                @required = "required",
                @autofocus = "autofocus"

            })
        </div>
        <button class="btn btn-primary btn-block">Submit</button>
        <hr>
        <p class="text-muted">Take a different action.</p>
        <a onclick="window.location.href='/Account/Register'" class="btn btn-sm btn-outline-light mr-1">Register now!</a>
        or
        <a onclick="window.location.href='/Account/Login'" class="btn btn-sm btn-outline-light ml-1">Login!</a>
    </form>
    <!-- ./ form -->
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}