@{
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

<div>
    <p>
        Please check your email to reset your password.
    </p>
    <a onclick="window.location.href='/Account/Register'" class="btn btn-sm btn-outline-light mr-1">Register now!</a>
    or
    <a onclick="window.location.href='/Account/Login'" class="btn btn-sm btn-outline-light ml-1">Login!</a>
</div>
