<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>SMS Online</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">SMS Online</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h6 class="card-title">Number of Orders</h6>
                                <div>
                                    <a href="#" class="mr-3">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </a>
                                        <span class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item">Report</a>
                                            <a href="#" class="dropdown-item">Download</a>
                                            <a href="#" class="dropdown-item">Close</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="number-of-orders"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h6 class="card-title mb-0">Top Sales</h6>
                                <a href="#">All Sales</a>
                            </div>
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    <a href="#">Apple iPhone XR 256GB red</a>
                                </td>
                                <td>21</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Samsung Galaxy A30 3/32GB blue</a>
                                </td>
                                <td>52</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Samsung Galaxy Note9 6/128GB</a>
                                </td>
                                <td>74</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Apple iPhone XR 256GB red</a>
                                </td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Samsung Galaxy A30 3/32GB blue</a>
                                </td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Apple iPhone XS Max 256GB gold</a>
                                </td>
                                <td>52</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">ASUS Asus ROG Phone 8/128GB blue</a>
                                </td>
                                <td>29</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Apple iPhone XR 256GB Green</a>
                                </td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Samsung Galaxy Note9 6/128GB</a>
                                </td>
                                <td>74</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Apple iPhone XR 256GB red</a>
                                </td>
                                <td>25</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>