<div class="container-fluid bg-white text-center p-50">
    <div>
        <h1>
            Well come to SMS Online
        </h1>
        <h5>SMS Online makes it easier for you to connect and share with the people in your life!</h5>
    </div>
    <div>
        <img class="img-fluid" src="~/Content/app/assets/media/image/home-banner.jpg" />
    </div>
</div>